<div class="row">
    <div class="col-9">
        <div class="app-card">My Profile</div>
        <div class="app-card">
            <div class="row">
                <span class="light-text">Username </span>-
                <span class="dark-text">{{user.username}}</span>
            </div>
            <div class="row">
                <span class="light-text">Full Name </span>-
                <span class="dark-text">{{user.fullName}}</span>
            </div>
            <div class="row">
                <span class="light-text">Email Address </span>-
                <span class="dark-text">{{user.emailAddress}}</span>
            </div>
        </div>

    </div>
</div>