<div class="row">
  <div class="col-9">
    <div class="app-card">Manage Books
      <i class="material-icons padding-sm right-align-icon" (click)="add()">Add</i></div>
    <ngx-datatable [rows]="rows" [columnMode]="'force'" class="material"
    [headerHeight]="50" [footerHeight]="40" [rowHeight]="'auto'">
    <ngx-datatable-column *ngFor="let column of columns" [flexGrow]="1" [name]="column.name" [prop]="column.prop"
      [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [width]="100" [canAutoResize]="false" [sortable]="false">
      <ng-template ngx-datatable-header-template class="action" name="action" placement="right">
        Action
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template class="action" placement="right">
        <span (click)="view(row)" tooltip="View" container="body">
          <i class="material-icons padding-sm">View</i>
        </span>
      </ng-template>

    </ngx-datatable-column>
    <ngx-datatable-column [width]="100" [canAutoResize]="false" [sortable]="false">
      <ng-template ngx-datatable-header-template class="action" name="action" placement="right">
        Action
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template class="action" placement="right">
        <span (click)="edit(row)" tooltip="Edit" container="body">
          <i class="material-icons padding-sm">Edit</i>
        </span>
      </ng-template>
      
    </ngx-datatable-column>
  </ngx-datatable>

  </div>
  <div class="col-3" [hidden]="!isEdit && !isAdd && !isView">
    <div class="app-card">{{this.modalHeader}} Book
    </div>
    <div class="app-card form-container">
      <form #addBook="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [disabled]="isView" #name="ngModel" name="name"  [(ngModel)]="book.name" class="form-control" id="name" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <label for="name">Author</label>
          <input type="text" #author="ngModel"  [disabled]="isView" name="author" [(ngModel)]="book.author" class="form-control" id="author" placeholder="Enter Author" required>
        </div>
        <div class="form-group">
          <label for="name">ISBN</label>
          <input type="number" #isbn="ngModel"  [disabled]="isView || isEdit" name="isbn" [(ngModel)]="book.isbn" class="form-control" id="isbn" placeholder="Enter ISBN" required>
        </div>
        <div class="form-group">
          <label for="name">Number of Copies</label>
          <input type="number" #copies="ngModel"  [disabled]="isView" name="copies" [(ngModel)]="book.copies" class="form-control" id="copies" placeholder="Enter Number of Copies" required>
        </div>
        <div class="row margin-top-sm">
          <button type="submit" (click)="onClear()" class="btn app-button app-button-secondary">Clear</button>
          <button type="submit"  [disabled]="isView" (click)="onSubmit(book)"  class="btn app-button app-button-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
    
